
.instafeed {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 800px;
    justify-items: center;
    width: 100%;
    background-color: rgb(236, 236, 236);
    box-shadow: 1px 1px 5px #555 inset;
}

.instafeed > h3 {
    text-align: center;
    padding-top: 2vh;
    margin-bottom: -2vh;
}


.scroll-horizontal > div {
    padding-top: 5vh;
    padding-bottom: 5vh;
 
}

.react-draggable {
    height: 700px;
}

.react-draggable {
    transform: translate(0px, 0px)!important;
}

.singleinstapost {
    margin-left: 1vw;
}

.singleinstapost:first-of-type {
    margin-left: 2vw;
}

@media (max-width: 500px) {
    .instafeed {
        margin-bottom: 25vh;
    }
}


/*
@media (max-width: 1750px) {
	.instafeed {
        margin-left:8vw;
        margin-right:8vw;
	}
}


@media (max-width: 1500px) {
	.instafeed {
		margin-left: 12vw;
        margin-right: 4vw;
        grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1300px) {
	.instafeed {
		margin-left: 6vw;
        margin-right: 6vw;
	}
}

@media (max-width: 1150px) {
	.instafeed {
		margin-left: 2vw;
        margin-right: 2vw;
	}
}


@media (max-width: 1050px) {
	.instafeed {
        grid-template-columns: 1fr 1fr;
		margin-left: 12vw;
        margin-right: 6vw;
	}
}

@media (max-width: 850px) {
	.instafeed {
		margin-left: 4vw;
        margin-right: 6vw;
	}
}
@media (max-width: 700px) {
	.instafeed {
        margin-left: 12vw;
        grid-template-columns: 1fr;
	}
}
/*
@media (max-width: 1100px) {
	.instafeed > img {
		display: none;
	}

	.instafeed > article {
		grid-column: 1/5;
	}
}
*/