.about {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	margin-left: 12vw;
	margin-right: 12vw;
	margin-top: 10vh;
	margin-bottom: 10vh;
	justify-items: center;
	align-items: center;
}

@media (max-width: 600px) {
	.about {
		margin-left: 6vw;
		margin-right: 6vw;
		margin-top: 10vh;
		margin-bottom: 0vh;
	}
}

.about > .element {
	grid-column: 1/5;
}

.about > img {
	grid-column: 1/2;
	width: 90%;
}

.about > article {
	padding-left: 2vw;
	grid-column: 2/5;
}

@media (max-width: 1700px) {
	.about > article > p {
		font-size: 1.4em;
	}
}

@media (max-width: 1100px) {
	.about > img {
		display: none;
	}

	.about > article {
		grid-column: 1/5;
	}

	.about > article > p {
		font-size: 2.5em;
	}
}
